*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
background-color: #212121;
  width: 100%;
  font-family: 'Courier New', Courier, monospace;
}
.add-btn{
  font-size: 4rem;
  color: #eeeeee;
  background-color: #212121;
  border-radius: 100%;
  object-fit: contain;
}
.btn-div{
  width: 94%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}
.search-bar{
  width: 100%;
  background-color: #424242 ;
  height: 7vh;
  border: solid 1px #424242;
  border-radius: 8px;
  outline: none;
  font-size: 1.7rem;
  color: #eeeeee;
}